.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  min-width: 400px;
}

.buttons {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 15px;

  margin-top: 20px;
}

.bottomButton {
  flex: 1;
  padding: 15px 0;
  font-size: 18px;
  color: white;
  background: none;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
}

.newItemButton {
  background: #457b9d;
}

.scanQrButton {
  background: #4e4e4e;
}

.bottomButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
