.card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
  overflow: hidden;

  max-width: 400px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cardBody {
  padding: 16px;
}

.title {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.description {
  color: #666;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.price {
  color: #e63946;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cardFooter {
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  flex: 1; /* allows buttons to grow */
  margin: 0 8px;
}

.showQR {
  background-color: #457b9d;
  color: white;
}

.deleteItem {
  background-color: #e63946;
  color: white;
}

.button:not(:last-child) {
  margin-right: 16px;
}

.button:hover {
  opacity: 0.8;
}

/* Media query for responsive layout adjustments */
@media (max-width: 768px) {
  .cardFooter {
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin: 8px 0;
  }
}
